@use "variables" as *;

/** HEADER **/

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.navBar{
    color: $color-text;
    background-color: $color-main;
    font-family: "FontTitre";

    &__logo{
        height: 100px;
        padding: $pad-std;
    }

    &__link{
        &--active{
            color: $color-gold;
        }
        &:hover{
            color: $color-gold;
        }
    }
}