@use 'variables' as *;

//** MIXINS **//

@mixin btn($bgColor, $txtColor, $borColor, $txtSize: 1rem){
    background-color: $bgColor;
    color: $txtColor;
    border: 1px solid $borColor;
    font-size: $txtSize;
    font-weight: bold;
    padding: $pad-std;
    margin: 0.5rem;
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;

    &:focus {
        @include accessibleFocus()
    }

    &:hover{
        opacity: .9;
    }

    &:active{
        box-shadow: 2px 2px 5px;
    }
}

@mixin input($padding: $pad-std, $borRad: $rad-std){
    padding: $padding;
    border-radius: $borRad;
    border: 1px solid $color-main;
    color: $color-background;
    font-size: .8rem;

    &:focus {
        @include accessibleFocus()
    }

    &.success {
        border-color: $color-success;
        border-width: 2px;
    }

    &.error {
        border-color: $color-error;
        border-width: 2px;
    }

    + .errorMessage{
        color: $color-error;
        font-size: .75rem;
        height: 13px;
    }
}

@mixin card($width){
    width: $width;
    background-color: $color-text;
    padding: $pad-std;
    border-radius: 2px;
}

@mixin accessibleFocus(){
    outline: 3px solid black;
    box-shadow: 0 0 0 6px white;
}