@use 'variables' as *;

/** TYPOGRAPHIE **/

@font-face {
    font-family: "FontTitre";
    src: url(../font/AlanSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "FontTexte";
    src: url(../font/Roboto-VariableFont_wdth\,wght.ttf);
}

html {
    font-size: 20px;
}

body {
    font-family: "FontTexte";
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: $color-background;
    color: $color-text;
}

.h1Logo {
    margin: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

h1,h2,h3{
    font-family: "FontTitre";
    cursor: default;
}

h1, h2{
    color: $color-pink;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.text{
    &--main{
        color: $color-main;
    }

    &--background{
        color: $color-background;
    }

    &--pink{
        color: $color-pink;
    }

    &--gold{
        color: $color-gold;
    }
}

.faq{
    &__sectionTitle{
        margin: 1.2em 0;

        &:hover{
            transition: 0.1s;
            color: $color-gold;
            letter-spacing: 0.2em;
            cursor: help;
        }
    }

    &__sectionHeader{
        background-color: $color-gold;
        color: $color-text;
        opacity: 95%;
        font-size: 1.2rem;
        padding-left: 1em;

        &--inactive{
            color: $color-text;
        }
    }
}
