//** VARIABLES **//

$color-text: #f7fbfb;
$color-background: #000000;
$color-main: #8a8a8a;
$color-pink: #FF23C1;
$color-gold: #F9AD00;

$color-success: #09C372;
$color-error: #E80426;

$pad-std: 0.5em 1em; 
$gap-std: 20px;
$rad-std: 10px;