/** GENERAL **/
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 5% 5%;
  font-size: 1.5rem;
}

.errorMessage {
  color: #ff3860;
  font-size: 1rem;
  height: 13px;
}

/** TYPOGRAPHIE **/
/** HEADER **/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}